
*{
	box-sizing: border-box;
}
/*#welcome{
    background-image: radial-gradient(rgba(255, 150, 100, 0.3), rgba(255, 0, 0, 0.3));
}*/
body{
background-image: url(".png");
background-color: none;
background-size: 100%;
background-attachment: fixed;
display: flex;
flex-direction: column;
min-height: 100vh;
background-image: url("books.jpg");
  background-color: #cccccc;
}


/*test with image*/

/* Container holding the image and the text */
.container {
    position: relative;
    background-color: white;

    text-align: center;
    color: white;
  }

  .container1 {
    position: relative;
    background-color: none;

    text-align: center;
    color: black;
  }

/* Centered text */
.centered {
    position: absolute;
    font-family: Verdana;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  

/*button test*/
.button {
    background-color: rgb(0, 112, 203); /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
	font-family: Verdana;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px / 5px;
    cursor: pointer; 
}
  .button3 {border-radius: 8px;}
  .button4 {border-radius: 12px;}
  



/* Dropdown CSS from w3schools */
.logo-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Verdana;

  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a darker background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #282828;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;

    position: absolute;

    background-color: #b9b8b8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #7c7c7c;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .navbar .login-container {
    float: right;
  }
  
  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
  }

  .navbar input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
  }
  
  .navbar .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .navbar .login-container button:hover {
    background-color: green;
  }
  
  @media screen and (max-width: 600px) {
    .navbar .login-container {
      float: none;
    }
    .navbar a, .navbar input[type=text], .navbar .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar input[type=text] {
      border: 1px solid #ccc;  
    }

    .navbar input[type=password] {
      border: 1px solid #ccc;  
    }

  }

.main-content {
	background-color: none;
	background-image: none;
	max-width: 84%;
	flex: 1;
	color: white;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	margin: 10px;
	padding: 20px;
	position:relative;
	left: 8%;
	border-radius: 5px / 5px;
}

.main-content2 {
	background-color: #333;
	background-image: none;
	max-width: 84%;
	flex: 1;
	color: white;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	margin: 10px;
	padding: 20px;
	position:relative;
	left: 8%;
	border-radius: 5px / 5px;
}

h1{
    font-family: "Verdana";
	font-size: 36px;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

h2{
	font-family: "Verdana";
    font-size: 26px;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
    /*text-shadow: 2px 1px rgba(0,0,0,0.2); */
}

p{
  font-family: "Verdana";
	font-size: 18px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

div.text{
	font-family: "Verdana";
	font-size: 18px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

a:hover{
  /*color: #5022e8;*/
  color: #FFFF;
  text-decoration: underline;
}

a{
  color: white;
  text-decoration: none;
}


/*forms*/

input[type=text] {
  width: 100%;
  padding: 12px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px / 5px;
}

input[type=password] {
  width: 100%;
  padding: 12px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px / 5px;
}

/*select forms*/

select {
  width: 100%;
  padding: 12px 16px;
  border: none;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px / 5px;
}

/*tables*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #000;
	font-family: "Verdana";

}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}

tr:hover {background-color: coral;}


#IUD-select{
    display: none;
}

#query-select{
    display: inline;
}
#update-input{
    display: none;
}

#author-input, #author-input2{
    display: none;
}
#book-input, #book-input2{
    display: block;
}
#member-input, #member-input2{
    display: none;
}
#php-submit{
    display: block;
}
#js-submit{
    display: none;
}
#force{
    display: none;
}
/*tr:hover{
    background-color: #00FF00;
}*/
